<!-- <div class="container">
    <hr>
    <div class="row">
      <div class="col-xs-12"> -->
        <div class="item">
          <ul>
            <li>
              <a [routerLink]="['/personas', indice]" [queryParams]="{modoEdicion:'1'}">
                {{persona.nombre}} {{persona.apellido}}
              </a>
            </li>
          </ul>
          <!-- <input type="checkbox" (click)="emitirSaludo()"> -->
          <p>
        </p>
        </div>
      <!-- </div>
    </div>
  </div> -->
